    {{template "partials/header_dasboard" .}}


        <!-- header end -->

        <!-- conten  -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
                    <!-- <li class="active">Dashboard</li> -->
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
             
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Table Data Pesan</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="example1" class="table table-bordered table-hover dataTable"
                                                role="grid" aria-describedby="example2_info">
                                                <thead>
                                                    <tr>
                                                        <!-- <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            No.</th> -->
                                                        <th > Number Phone</th>
                                                        <th > Tanggal</th>
                                                        <th > Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{ range .dataPesan }}
                                                    <tr >
                                                        <!-- <td class="sorting_1">{{.ID}}</td> -->
                                                        <td>{{.Phone}}</td>
                                                        <td>{{.Tanggal}}</td>
                                                        <td>{{.Status}}</td>
                                                    </tr>
                                                    {{ end }}
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>

                </div>
                <!-- /.row (main row) -->

            </section>
            <!-- /.content -->
        </div>

        <!-- content end  -->




        <!-- footer -->

        {{template "partials/footer_dasboard" .}}