{{template "partials/header_dasboard" .}}

<!-- header end -->

<div class="content-wrapper" style="min-height: 1446px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Suart Keterangan Usaha</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dasboard/admin">Dasboard</a></li>
                        <li class="breadcrumb-item"><a href="/dasboard/admin/surat">Surat</a></li>
                        <li class="breadcrumb-item active">Suart Keterangan Usaha</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                </div>
                <div class="card-body">
                    <form action="/dasboard/admin/surat/surat-usaha/new" method="post">
                        <div class="form-row">

                            <input type="hidden" name="kode_surat" value="{{.data.file.ID}}">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>No Surat :</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="no_surat"
                                            value="{{.data.no_surat}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nama* :</label>
                            <div class="input-group">
                                <input type="text" required class="form-control" name="nama_pemohon">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Nomor Induk Kependudukan (NIK)* :</label>
                            <div class="input-group">
                                <input type="text" required class="form-control" name="nik">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tempat Lahir* :</label>
                                    <div class="input-group">
                                        <input type="text" required class="form-control" name="tempat_lahir">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Tanggal Lahir* :</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input type="text" required name="tanggal_lahir" class="form-control datetimepicker-input"
                                            data-target="#reservationdate" data-date-format="dd/mm/yyyy" placeholder="Bulan/Tanggal/Tahun">
                                        <div class="input-group-append" data-target="#reservationdate"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label for="jenis_kelamin">Jenis Kelamin</label>
                            <select class="form-control" id="jenis_kelamin" name="jenis_kelamin" required>
                                <option value="">Pilih Jenis Kelamin</option>
                                <option value="Laki-laki">Laki-laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div> -->

                        <div class="form-group">
                            <label>Kewarganegaraan* :</label>
                            <div class="input-group">
                                <input type="text" required class="form-control" name="kewarga_negaraan">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Agama* :</label>
                            <div class="input-group">
                                <input type="text" required class="form-control" name="agama">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="status_nikah">Status Pernikahan* :</label>
                            <select class="form-control" id="status_nikah" name="status_nikah" required>
                                <option value="">Pilih Status Pernikahan</option>
                                <option value="Sudah Menikah">Sudah Menikah</option>
                                <option value="Belum Menikah">Belum Menikah</option>
                            </select>
                        </div>


                        <!-- <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="rt">RT</label>
                                    <input type="text" class="form-control" id="rt" name="rt" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="rw">RW</label>
                                    <input type="text" class="form-control" id="rw" name="rw" required>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label>Pekerjaan* :</label>
                            <div class="input-group">
                                <input type="text" required class="form-control" name="pekerjaan">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label>Keperluan :</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="keperluan">
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label>Alamat* :</label>
                            <div class="input-group">
                                <input type="text" required class="form-control" name="alamat">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>JenisUsaha* :</label>
                            <div class="input-group">
                                <input type="text" required class="form-control" name="jenis_usaha">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label>Keterangan :</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="keterangan">
                            </div>
                        </div> -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
    </section>
</div>

<!-- footer -->
{{template "partials/footer_dasboard" .}}