{{template "partials/header_dasboard_user" .}}


<!-- header end -->


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Pengguna</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dasboard</a></li>
                        <li class="breadcrumb-item active">Pengguna</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Daftar Pengguna<i class="fa-solid fa-circle-plus "></i></h3>
                        </div>
                        
                        <!-- /.card-header -->
                        <div class="card-body">
                         
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Nama</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Status</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range .data}}
                                    <tr role="row" class="odd">
                                        <td>{{.Index}}</td>
                                        <td>{{.Nama}}</td>
                                        <td>{{.Email}}</td>
                                        <td>{{.NoHp}}</td>
                                        <td>{{.Role}}</td>
                                     
                                        <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="/dasboard/admin/detail/{{.ID}}"><i class="fas fa-folder"></i>Detail</a>
                                        </td>
                                    </tr>
                                    {{ end}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>

        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->




<!-- footer -->
{{template "partials/footer_dasboard" .}}