{{template "partials/header_web_satu" .}}
<!-- -->
<div class="main mb-xlg">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="active">Pengumuman</li>
            <!-- <li class="active">Pencarian</li> -->
        </ul>
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-primary"> <strong>Pengumuman</strong> </h3>
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        {{if not .data.main }}

                        <div class="col-md-12"> <div class="alert alert-info"> <p><i class="fa fa-warning"></i> Saat ini kami tidak memiliki data "Pengumuman" untuk ditampilkan.</p> </div> </div>
                        {{else}}

                        {{range .data.main }}
                        <div class="row">
                            <div class="col-md-4 col-sm-4 -thumbnail">
                                <div class="bordered"
                                    style="width:100%; height:20vh; background: url(/image/berita/{{.Image}}) center center no-repeat; background-size:100%;">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <h5 class="m-none"> <a href="/pengumuman/{{.Header}}-{{.ID}}">{{.Judul}}</a> </h5>
                                <ul class="list-inline text-info text-sm">
                                    <li><i class="fa fa-calendar"></i> {{.CreatedAt}}</li>
                                    <li><i class="fa fa-user"></i> {{.Username}}</li>
                                </ul>
                                <p class="text-justify"> Kamis, 24/11/2022, {{.Pengumuman}} :&nbsp; &hellip; <a
                                        href="/pengumuman/{{.Header}}-{{.ID}}"
                                        class="btn btn-xs btn-primary">selengkapnya <i
                                            class="fa fa-arrow-right"></i></a> </p>
                            </div>
                        </div> <br />
                        {{end }}

                        {{end}}
                        
                    </div>
                </div>
                {{if  .data.main }}
            
                {{template "partials/paginationWeb" .}}
                {{end}}
                <script type="text/javascript"> $(document).ready(function () { }); </script>
                <div class="sharethis-inline-share-buttons"></div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <aside class="sidebar">
                    <!-- <form role="search" action="http://www.baluk.desa.id/berita/search" method="get">
                        <div class="input-group mb-lg"> <input type="text" name="keyword" class="form-control"
                                placeholder="Pencarian Berita..." maxLength="25" value=""> <span
                                class="input-group-btn"> <button type="submit" class="btn btn-default"><i
                                        class="fa fa-search"></i></button> </span> </div>
                    </form> -->
                </aside>
                <aside class="sidebar">
                    <div class="tabs tabs-dark mb-xlg">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active">
                                <a class="nav-link font-weight-bold text-uppercase active" href="#pengumuman_terakhir" data-toggle="tab">Pengumuman </a>
                            </li>
                            <li class="nav-item "> 
                                <a class="nav-link font-weight-bold text-uppercase" href="#berita-terakhir" data-toggle="tab">    Berita    </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- pengumuman -->
                            <div class="tab-pane active" id="pengumuman_terakhir">
                                <ul class="simple-post-list">

                                    {{range .data.pengumumanNew}}
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail p-none"> <a
                                                    href="/pengumuman/{{.Header}}-{{.ID}}">
                                                    <img src="/image/{{.Image}}" width="50" height="50" /> </a>
                                            </div>
                                        </div>
                                        <div class="post-info"> <a href="/pengumuman/{{.Header}}-{{.ID}}">{{.Judul}}</a>
                                            <div class="post-meta"> <i class="fa fa-calendar"></i> {{.CreatedAt}}
                                            </div>
                                        </div>
                                    </li>
                                    {{end}}
                                </ul>
                            </div>
                            <!-- pengumuman end -->

                            <!-- berita -->
                            <div class="tab-pane active" id="berita-terakhir">
                                <ul class="simple-post-list">

                                    {{range .data.beritaNew}}
                                    <li>
                                        <div class="post-image">
                                            <div class="img-thumbnail p-none"> <a href="/berita/{{.Header}}-{{.ID}}">
                                                    <img src="/image/berita/{{.Image}}" width="50" height="50" /> </a>
                                            </div>
                                        </div>
                                        <div class="post-info"> <a href="/berita/{{.Header}}-{{.ID}}">{{.Judul}}</a>
                                            <div class="post-meta"> <i class="fa fa-calendar"></i> {{.CreatedAt}}
                                            </div>
                                        </div>
                                    </li>
                                    {{end}}
                                </ul>
                            </div>
                            <!-- berita end -->
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>


{{template "partials/footer_web_satu" .}}